<?xml version="1.0"?>
<model>
  <name>realsense_d435</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Steven</name>
    <email>steven@example.com</email>
  </author>
  <description>Intel RealSense D435 model with RGB camera sensor for Gazebo Harmonic.</description>
</model>